body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#stop-info { list-style-type: none; }

a {
  color: #00B7FF;
}

.status {height: 10rem; width: 10rem; display: inline-block; border-radius: 100%; position: relative;}

.status #green-destination { position: absolute; top: 3rem; right: 0rem; width: 100%; }
.status #yellow-destination { position: absolute; top: 3rem; right: 0rem; width: 100%; }

.status #green-ttd { position: absolute; top: 5rem; right: 0rem; width: 100%; }
.status #yellow-ttd { position: absolute; top: 5rem; right: 0rem; width: 100%; }

#red  {background-color: red; }
#yellow  {background-color: yellow; }
#green  {background-color: green; }

.wi { font-size: 10rem; color: blue; }